/**
 * Toolkit styles
 */

// Variables
$fontstack: 'Lato', 'Helvetica Neue', Helvetica, Aria, sans-serif;

$Blue:  	#00C8E0;
$Gold:  	#FFA900;
$Black: 	#444444;
$Green: 	#71B179;
$Red:   	#EA1F57;
$Lighter: #F2F6F6;
$Darker:  #98b0b3;
$Dark:    #b2ced1;
$Grey:    #cadee0;
$Light:   #d8e9eb;
$Lighter: #F2F6F6;

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: #F2F6F6;
	font-size: 15px;
	line-height: 1.6em;
}

.light-gray-with-padding {
	border-top: 1px solid $Grey;
	margin: 0 -10px;
	padding: 5px 10px;
	background: $Lighter;
	box-shadow: inset 0px 2px 1px adjust-color($Light, $alpha:-0.4);
}

@import 'atoms/typography';
@import 'atoms/button';
@import 'atoms/input';
@import 'atoms/list';
@import 'atoms/tabs';
