---
fabricator: true
---

{{#markdown}}

# Naming Conventions

In Brisk you setup a **path** to follow. To help the rep keep on the path she needs to take **actions**. These are identified by **rules** that the administrator can setup.

* **Path** A combination of multiple rules with the goal to get the opportunity from new to closed won.
* **Rule** A trigger that identifies when an action needs to be taken.
* **Action** The individual step that the rep need to take to progress the opp. in the right direction according to the path.

{{/markdown}}
