h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0.65em;
}
h1 {
	font: 300 25px/1.2em $fontstack;
	small {
		font-size: 15px;
		font-weight: 400;
		@extend .capitals;
		@extend .text-muted;
	}
}
h2 {
	  font: 900 15px/20px $fontstack;
	  @extend .capitals;
		small {
			font-size: 12px;
			font-weight: 400;
			@extend .text-muted;
		}
}
h3 {
    font: 900 12px/22px $fontstack;
 	  @extend .capitals;
		small {
			font-size: 10px;
			font-weight: 400;
			@extend .text-muted;
		}
}
h4, h5, h6 {
    font: 400 10px/12px $fontstack;
 	  @extend .capitals;
}
p {
	margin: 0 0 1em;
}
small, .small {
	font-size: 0.86666667em;
	line-height: 1.6em;
}
.mini {
	font-size: 0.733333334em;
	line-height: 1.6em;
}
.capitals {
  text-transform: uppercase;
	letter-spacing: 0.1em;
}
.text-muted {
	color: darken(#98B0B3, 15%);
}

label {
	&:not(.label-checkbox) {
		@extend h4;
	}
	display: block;
}

a {
	color: $Blue;
	text-decoration: none;
}
