// Header sizes;
$h1s: 25px;
$h2s: 15px;
$h3s: 12px;
$h4s: 10px;

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	margin: 0 0 0.65em;
	/*a {
		text-decoration: none;
		color: inherit;
	}*/
}
h1, .h1 {
	font-weight: 300;
	font-size: $h1s;
	line-height: 1.2e;
	font-family: m $fontstack;
	small, .small, .mini, small.mini {
		font-size: $h2s;
		font-weight: 400;
		@extend .capitals;
		@extend .text-muted;
	}
}
h2, .h2 {
	  font-weight: 900;
		font-size: $h2s;
		line-height: 20px;
		font-family: $fontstack;
	  @extend .capitals;
		small, .small, .mini, small.mini {
			font-size: $h3s;
			font-weight: 400;
			@extend .text-muted;
		}
}
h3, .h3{
    font-weight: 900;
		font-size: $h3s;
		line-height: 22px;
		font-family: $fontstack;
 	  @extend .capitals;
		small, .small, .mini, small.mini {
			font-size: $h4s;
			font-weight: 400;
			@extend .text-muted;
		}
}
h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 400;
		font-size: $h4s;
		line-height: 12px;
		font-family: $fontstack;
 	  @extend .capitals;
}
p {
	margin: 0 0 1em;
}
small, .small {
	font-size: 12px;
	line-height: 1.6em;
	font-weight: 400;
}
.mini {
	font-size: 10px;
	line-height: 1.6em;
	font-weight: 400;
}
.capitals, .text-capitals {
  text-transform: uppercase;
	letter-spacing: 0.1em;
}
.text-muted {
	color: darken(#98B0B3, 15%);
}

label {
	&:not(.label-checkbox) {
		@extend h4;
	}
	&.label-checkbox {
		margin-bottom: 1em;
	}
	display: block;
}

a {
	color: $Blue;
	text-decoration: none;
}
