---
title: Issue List | Naming
fabricator: true
---

{{#markdown}}

# Action list

The list of actions shown on the home screen are called **action lists**. Most lists on the hompage are action lists.

Most action lists are built so they only show if there are actions to be taken on any records. In other words there are very few action lists that can be empty. Example of action lists that show even if they are empty are the Events list and Tasks list.

## One liners
- _"The action lists are like cue cards that gives cues on what to do next."_
- _"The action lists are like prescriptions with suggestions on what to do as a sales person to perform as efficiently as possible."_

## Former names
**Cue Card** The idea was that these lists, that looks like cards it the UI, gives the user a cue of what to do next.

{{/markdown}}
