---
title: Issue List | Naming
fabricator: true
---

{{#markdown}}

# Issue list

The list of issues shown on the home screen are called **issue lists**. Most, but not all, lists on the hompage are issue lists. Exemple of lists that are _not_ issue lists are the Starred card and mini dashboards.

Most issue lists are built so they only show if there are issues on any records. In other words there are very few issue lists that can be empty. Example of issue lists that show even if they are empty are the Events list and Tasks list.

## One liners
- _"The issue lists are like cue cards that gives cues on what to do next."_
- _"The issue lists are like prescriptions with suggestions on what to do as a sales person to perform as efficiently as possible."_

## Former names
**Cue Card** The idea was that these lists, that looks like cards it the UI, gives the user a cue of what to do next.

{{/markdown}}
