---
title: Issue | Naming
fabricator: true
---

{{#markdown}}

# Issue

Every item in Brisk that can be taken care of is an **issue**. Exemple of issue are tasks, overdue opportunities or leads stuck in stages. Example of things in Brisk that are not issues are stared items and cue cards.

All standard issues have the following actions on them:
1. **Completable**: either from within Brisk, or as a clear action to be taken outside of Brisk. _Ex. set the date of an overdue opportunity to a new date in the future:_
2. **Snoozeable**: in practice this means hide from all places it can be shown untill a certain time.
3. **Dismissable**: in best cases dismissing an issue means that some data is changed so that the issue is no longer. _Ex. change the stage of an overdue opportunity to closed._

{{/markdown}}
